body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: repeat;
    overflow-x: hidden;

    background-size: 270%; /* Ajusta a imagem para cobrir toda a área */
    
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo img {
    padding: 20px;
    width: 160px;
}

.boddy {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    margin-top: 10%;
    height: 100%;
    font-size: 18px;

}


.hamburger {
    width: 40px;
    padding: 20px;
    margin: 20px;
    margin-right: -10px;
    color: #353535;
    cursor: pointer;
    z-index: 100;
}

.hamburger i {
    font-size: 33px;
}

.text {
    text-align: center;
}

.text span {
    color: #ddd;
    z-index: -100;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    color: white;
    margin: 20px;
    margin-left: -100px;
    padding: 25px;
    text-align: center;
    font-size: 18px;
}
.header a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.header a i {
    padding-right: 15px;
}

.header a:hover {
    text-decoration: underline;
}
.sidebar {
    border-radius: 5px;
    top: 13px;
    left: 78vw;
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 275px;
    background-color: #ebe7e7;
    position: fixed;
    height: 93%;
    margin: 10px;

    overflow-x: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
    
}
.sidebar a {
    display: block;
    color: black;
    padding: 15px 20px;
    margin: 10px;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

.fa-bars {
    color: #ebe7e7;
}

.fa-xmark {
    color: #353535;
}

.sidebar a i {
    padding-right: 15px;
}

.sidebar a:hover {
    width: 73%;
    border-radius: 5px;
    background-color: #585bff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar.open {
    display: flex;
    opacity: 1;
    transform: scale(1);
}



/* RESPONSIVE AREA */


/* .win-dows {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 700px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translate(50%, -50%);
    opacity: 0;
}
.win-dows.show .modal-content {
    transform: translate(0, 0);
    opacity: 1;
}
.close1-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    float: right;
}
.close1-btn:hover {
    background-color: #e53935;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group input[type="file"] {
    padding: 3px;
}
.form-group img, .form-group video {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.submit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #45a049;
}
.post {
    
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.post-summary {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.post-summary:hover {
    background-color: #eee;
}
.edit-btn {
    background-color: #FFC107;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.edit-btn:hover {
    background-color: #FFB300;
}
.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.delete-btn:hover {
    background-color: #e53935;
} */

/* ALERTA */

/* .modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.alert-modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    text-align: center;
}

.close-alert-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-alert-btn:hover,
.close-alert-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.alert-ok-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.alert-ok-btn:hover {
    background-color: #45a049;
}

/* PUBLICAÇÃO 1 */



/* Estilos da janela custom-modal */
/* .custom-modal {
    display: none; /* Escondido por padrão */
  /*  position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Fundo com desfoque /
}

.custom-modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Sombras nas bordas /
    text-align: center;
}

/* Estilos das opções na janela custom-modal */
/* .custom-modal-option {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-modal-option:hover {
    background-color: #f1f1f1;
}

.custom-modal-option:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Destaque com desfoque /
}


.close-button:hover {
    color: #f00;
}

body.modal-open {
    overflow: hidden; /* Desativar rolagem /
}

body.modal-open * {
    pointer-events: none; /* Desativar todos os eventos externos /
}

body.modal-open .custom-modal-content, 
body.modal-open .custom-modal-content * {
    pointer-events: all; /* Ativar eventos dentro da modal 
} */


/* JANELA 00 */

/* .win00, .win-dows {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.win00 label, .win00 input, .win00 textarea, .win00 button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-top: 20px;
} */

@media (max-width: 600px) {
    .logo img {
        padding: 10px;
        width: 80px;
    }

    .header {
        font-size: 20px;
        position: absolute;
        top: -28px;
        right: 0;
    }

    .hamburger {
        position: absolute;
        top: -23px;
        right: -10px;
    }

    .hamburger i {
        font-size: 27px;
    }
    

    .header p{
        display: none;
    }

    .header a {
        padding: 0;
        margin: 0;
        font-size: 22px;
    }
    
    .sidebar {
        height: 78%;
        width: 225px;
        margin-left: -134px;
        margin-top: -5px;
    }

    .boddy h1 {
        font-size: 16px;
        
        align-items: center;
        text-align: center;
        margin-top: 50%; 
        color: #c0c0c0;
    }

    .sidebar a:hover {
        width: 68%;
    }

    .sidebar a {
        font-size: 12px;
    }

    .options {
        display: grid;
        gap: 0;
    }

    .modal-window a {
        display: flex;
        justify-content: center;

        align-items: center;
        text-align: center;
    }


    .modal-window h1 {
        font-size: 19px;
    }


    .options a {
        font-size: 14px;
        height: 23px;
        max-width: 67%;

        
    }

    .modal-window {
        max-height: 80%;
    }

    .options a h3 {
        margin-top: 0;
    }

    .modal-window {
        max-width: 70vw;

    }

    .formPost {
        min-width: 77%;
    }

    .formPost h2 {
        font-size: 16px;
    }
    
    .formPost textarea {
        width: 100%;
        box-sizing: border-box;
        resize: none; /* Impede o redimensionamento manual */
        overflow: hidden; /* Oculta a barra de rolagem */
        max-height: 100vw; /* Define uma altura máxima */
        min-height: 30px;
    }

    .formPost form {
        display: flex;
        flex-direction: row;
        width: 100%;
        border-radius: 10px;
        align-items: end;
        justify-content: space-between;

        background-color: rgba(18, 17, 39, 0.7);
    }

    .file-upload {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .file-upload label {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: none;
        padding: 0;
        border-radius: 5px;

        height: 15px;
        width: 4px;
      }
      
      

      .file-upload input[type="file"] {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }

      label {
        background-color: none;
      }

      .formPost .publ {
        max-width: 35px;
        height: 35px;
        margin-bottom: 0;
      }

      .formPost .publ img {
        align-items: center;
        text-align: center;
        margin-left: -7px;
      }

      .formPost form .publ {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      .formPost .backButton {
        margin-left: 92%;
      }
      

    
}

@media (min-width: 1000px) {
    .options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 20px;
    }

    .formPost .backButton {
        margin-left: 510px;
    }
    
}

/* POST EDIT */

.file-upload {
    display: inline-block;
    position: relative;
  }
  
  .file-upload label {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #d6d6d6;
    background-color: none;
    padding: 5px 13px;
    border-radius: 5px;
  }
  
  .file-upload label i {
    align-items: center;
    text-align: center;
    margin-bottom: 7px;
  }

  .file-upload input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

.post-edt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001; /* Mais alto que o conteúdo da página */
    background: white;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: none; /* Começa oculta */

    animation: showUp 0.5s ease;
}

.post-edt .post11 img {
    height: 50px;
}

.post11 video {
    height: 100px;
}



/* JANELA SUBSCRIBES */

.subscriber {
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}
.modal-contentt {
    margin: 15% auto;
    padding: 20px;
    background-color: white;
    width: 80%;
}


/* NOVO ESTILO DA PRIMEIRA JANELA DE POST */

.backdropy {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900;
    opacity: 0;
    transition: opacity 0.5s ease;
    
}
.modal-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 901;
    transition: opacity 0.5s ease;
    opacity: 0;

    border-radius: 7px;
}

.backdropy.show, .modal-window.show {
    display: block;
}

.modal-window h1 {
    text-align: center;
}
.options {
    display: grid;
    gap: 5px;
}
.options a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 20pc;
    display: block;
    padding: 10px;
    background: rgba(0, 41, 155, 0.7);
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.options a:hover {
    background: #1586ff;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f44336;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}
.backdropy.show {
    display: block;
    opacity: 1;
}
.modal-window.show {
    opacity: 1;
}


/* PUBLICAÇÃO SCRIPT ESTILO */

.formPost {
    width: 50%;
    height: auto;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    z-index: 1000;
    animation: showUp 0.5s ease;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.commentboxk {
    display: none;
    height: auto;
    width: 50%;
    top: 50%;
    left: 50%;

    position: fixed; /* Para garantir que a janela se mantenha em uma posição fixa */

    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    z-index: 1000;
    animation: showUp 0.5s ease;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.formPost h2 {
    margin-top: 0;
}

.formPost textarea {
    width: calc(100% - 30px);
    background-color: rgba(18, 17, 39, 0.5);
    height: 35px;
    width: 95%;
    padding: 10px;
    color: #ddd;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #ccc;

    text-align: center;
}

.formPost input[type="file"] {
    display: block;
    margin-bottom: 10px;
}

.formPost .preview {
    display: flex;
    flex-wrap: wrap;
}

.formPost .publ {
    width: 20%;
    min-height: 20%;
    border-radius: 2px;
    background-color: #4567ff;
    box-shadow: rgba(0, 0, 0, 0.19);
    border: none;
    text-align: center;
    align-items: center;
    margin-left: auto;
    font-size: 17px;
    color: #ebe7e7;
    cursor: pointer;


    display: none;
    justify-content: center;
}

.formPost .publ:hover {
    background-color: #8f8f8f;
    color: #000;
    font-size: 17px;
}


.preview img, .preview video {
    max-height: 150px;
    margin: 5px;
    position: relative;

    display: grid;
}

.preview .remove-file {
    position: absolute;
    top: 250px;
    left: 40%;
    background: rgba(255, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    cursor: pointer;
    text-align: center;
}

.formPost .backButton {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    background: #ff4d4d;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

.backdrop.active {
    display: block;
    backdrop-filter: blur(10px);
}

@keyframes showUp {
    from { transform: translate(-50%, -150%); opacity: 0; }
    to { transform: translate(-50%, -50%); opacity: 1; }
}



/* APENAS COMENTÁRIOS */

.overlay0 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fundo com desfoque */
    z-index: 1000; /* Um índice z menor que a janela, mas maior que o conteúdo da página */
    display: none; /* Começa oculta */
}



/* POST */

input[type="file"] {
    display: block;
    margin-bottom: 10px;
}

.comments {
    margin-top: 10px;
}


/* PUBLCS2 */

.file-upload {
            margin-bottom: 20px;
        }
        .file-upload label {
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
            background-color: #4CAF50;
            color: white;
            border-radius: 4px;
        }
        
        .preview {
            width: 150px;
            height: 150px;
            margin-top: 10px;
            border: 1px solid #ddd;
            overflow: hidden;
            display: inline-block;
        }
        .preview video {
            width: 100%;
            height: auto;
        }
        .preview img {
            width: 100%;
            height: auto;
        }




        .post-content {
            margin: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            position: relative;
        }
        .post-content img, .post-content video {
            max-width: 100%;
            height: auto;
            display: block;
            margin-top: 10px;
        }
        .post-content .edit-button, .post-content .delete-button {
            position: absolute;
            top: 5px;
            right: 5px;
            margin-left: 5px;
        }
        .post-content .delete-button {
            right: 40px;
        }


